@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu CSS personalizado aquí */
.primary-50 { color: #eff6ff; }
.primary-100 { color: #dbeafe; }
.primary-200 { color: #bfdbfe; }
.primary-300 { color: #93c5fd; }
.primary-400 { color: #60a5fa; }
.primary-500 { color: #3b82f6; }
.primary-600 { color: #2563eb; }
.primary-700 { color: #1d4ed8; }
.primary-800 { color: #1e40af; }
.primary-900 { color: #1e3a8a; }
